astroid==2.11.7
certifi==2024.2.2
charset-normalizer==2.0.12
dill==0.3.4
idna==3.7
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
numpy==1.19.5
pandas==1.1.5
platformdirs==2.4.0
psycopg2==2.7.7
psycopg2-binary==2.9.5
py4j==0.10.9.5
pylint==2.13.9
pyspark==3.2.4
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.27.1
six==1.16.0
tomli==1.2.3
typed-ast==1.5.5
typing_extensions==4.1.1
urllib3==1.26.18
wldhx.yadisk-direct==0.0.6
wrapt==1.16.0
